<!-- resources/mapper/YourEntityMapper.xml -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.mapper.LeaveInfosMapper">
    <select id="selectMonthLeaveInfos" resultType="com.app.dataBase.Leave_infos">
        <!-- 查询某月的请假记录,包括跨月的情况  -->
        select * from leave_infos where YEAR(start_time) = #{year} and ( MONTH(start_time) = #{month} or MONTH(end_time) = #{month})
        and worker_num = #{worker_num};
    </select>

    <select id="selectMonthLeaveInfosProcedure" resultType="com.app.dataBase.Leave_infos">
        <!-- 查询某月的请假记录,包括跨月的情况  -->
        call GetLeaveInfos(
        #{year, mode=IN, jdbcType=INTEGER},
        #{month, mode=IN, jdbcType=INTEGER},
        #{worker_num, mode=IN, jdbcType=INTEGER}
        );
    </select>


</mapper>