<!-- resources/mapper/YourEntityMapper.xml -->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.mapper.MyWorkerMapper">
    <select id="selectWorkerWithDepartmentByID" resultType="com.app.dataBase.WorkerWIthDepartment">
        select  worker_name, worker_num, gender,phone_number,salary ,department_name
        from workers join departments d on d.department_num = workers.department_num where worker_num=#{worker_num};
    </select>

</mapper>