<!-- resources/mapper/YourEntityMapper.xml -->
<mapper namespace="com.app.mapper.MyLeaveInfosMapper">
    <select id="selectAllLeaveWithName" resultType="List<LeaveInfoWithName>">
        select leave_num, leave_infos.worker_num, type, reason, start_time, end_time, is_pass, worker_name
        from leave_infos join workers w on w.worker_num = leave_infos.worker_num;
    </select>
</mapper>